<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="python" class="com.arun.beans.PythonBook"></bean>
<bean id="dsa" class="com.arun.beans.DSABook"></bean>

<bean id="library" class="com.arun.beans.Library">

<property name="book" ref="python"></property>

</bean>

</beans>
